node_modules
coverage
.vitest-attachments
.vitest-reports
**/__screenshots__
.#*
docs/_site
docs/files
/src/
/index.js
/index.js.map
/tests/browser/nunjucks*
.nyc_output
/browser
/samples/express/js/nunjucks.js
/samples/express/js/templates.js
